* {
  box-sizing: border-box;
}

body {
  max-width: 700px;
  margin: 0 auto;
  background: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  margin-bottom: 2px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  margin-bottom: 2px;
}

ul,
p {
  margin-top: 0;
}

em {
  font-weight: 400;
}

strong {
  font-family: "Montserrat", sans-serif;
}

img {
  margin: 0 auto;
  border-radius: 50%;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

blockquote {
  font-weight: bold;
}

blockquote p {
  margin: 0;
}

a {
  color: #78a2cc;
}

.header {
  width: 100%;
  border-radius: 0;
}

.sidebar {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  align-items: center;
  order: 10;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.navigation {
  width: 100%;
  background: #f4efe3;
}

.navigation a {
  color: inherit;
}

.navigation,
.navigation ul {
  margin: 0;
  padding: 0 0 0 28px;
  list-style-type: none;
  list-style-image: url("images/microflag.gif");
}

.content {
  flex: 1;
  max-width: 488px;
  padding: 0 8px;
  overflow: hidden;
}

.content > :first-child {
  margin-top: 0;
}

.footer {
  text-align: center;
  font-size: 14px;
}

@media only screen and (min-width: 700px) {
  body {
    padding: 12px 0;
  }

  .sidebar {
    order: inherit;
    width: 200px;
  }
}

.speaker-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 24px 0;
  gap: 24px;
}

.speaker-images img {
  border-radius: 0;
}

